*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    color: #666666;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.37);
}
.logoimg{
    height: 8vh;
    margin: 8px;
    padding: 0;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    
}
nav{
    position: fixed;
    background-color: #fdab08;
    height: 8vh;
    width: 98%;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.329);
    z-index: 1000;
}
nav ul{
    float: right;
    margin-right: 5vh;
}
nav ul li{
    display: inline-block;
    line-height: 8vh;
    margin: 0 1vw;
}
nav ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: #0082e6;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 21px;
    text-transform: uppercase;
}
footer{
    
    bottom: 1vh;
    width: 98%;
    height: 6vh;
    background-color: #fdab08;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.footer-content1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 80%;
    height: 6vh;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    .logoimg{
        height: 8vh;
    }
    ul{
         position: fixed;
         width: 100%;
         height: 100vh;
         background: #2c3e50;
         top: 80px;
         left: -100%;
         text-align: center;
         transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
    label img{
        height: 8vh;
    }
    footer{
        height: 10vh;
        background-color: #fdab08;
    }
    .home_section3, .footer_box{
        display: none !important;
    }
    .footer-content1 {
    width: 98%;
    height: 8vh;
    }
    .footer-content2, .footer-content3{
    display: none;
    }
}
/* /////Home///// */
.home_section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
    width: 100%;
}
.home_left_container{
    margin: 5px;
    width: 49%;
}
.home_right_container{
    display: flex;
    margin: 5px;
    width: 49%;
}
.h_l1_t{
    font-size: 75px;
    font-weight: bolder;
    margin: 20px;
}
.h_l1_b{
    margin: 20px;
}
.star{
    position: absolute;
    height: 150px; 
}
.houseWife{
    margin-left: 6vw;
    height: 600px;
}
.home_section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 30vh; */
    width: 100%;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2vh;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    width: 70%;
    margin-top: -5vh;
    margin-bottom: 5vh;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.329);
}
.box1, .box2, .box3{
    margin-top: 15px;
    width: 370px;
    height: 220px;
}
.boximg{
    height: 10vh;
}
.inBox h1{
    font-size: 18px;
    font-weight: bold;
    color: rgb(85, 84, 84);
}

@media (max-width: 858px){
    .home_left_container{
        width: 90%;
    }
    .box{
    width: 90%;
    margin-top: 0vh;
    min-height: 100vh;
    }
    .footer{
        /* display: grid; */
        height: 20vh;
        background-color: #0082e6;        
    }
    .home_right_container{
        display: none !important;
    }
    .home_section2{
        background-color: rgba(220, 220, 220, 0.041);
    }
}
/* /////about_us///// */
.aboutusBG{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    width: 100%; 
    height: 20vh; 
    background-image: linear-gradient(#ffffff6e, #4793AF), url('/static/assets/Images/AboutusBG1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.AUh1{
    font-size: 100px;
    color: white;
    margin-top: 5vh;
}
.about_section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
    height: 80vh;
    width: 98%;
}
.about_section1_left{
    display: flex;
    height: 80vh;
    width: 40%;
    margin-top: 2px;
    position: relative;
    border-radius: 10px;
}
.about_section1_right{
    width: 40%;
    margin-top: 2px;
    position: relative;
    border-radius: 10px;
}
.stars img{
    height: 180px;
    width: 180px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.drycleanmanager img{
    height: 500px;
    width: 380px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
.worker {
    position: absolute; 
    left: 0; 
    top: 27vh; 
    height: 40vh; 
    width: 38vh; 
    border: 1px solid rgb(250, 250, 250); 
    border-width: 12px; 
    border-radius: 10px; 
    overflow: hidden;
}
.worker img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 10px; 
}
.sBox{
    position: absolute;
    height: 20vh;
    width: 31vh;
    background-color: #4793AF;
    left: 38vh;
    top: 56.5vh;
    border-radius: 10px;
}
.title {
    font-weight: bolder;
    margin-bottom: 5vh;
    font-size: 50px;
}
.bSect{
    display: flex;
}
.bBox h1{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(85, 84, 84);
}
.bBox p{
    font-size: 13px;
    margin-left: 10px;
}
.tick{
    height: 45px;
    margin: 10px;
}

.space{
    margin: 2vh;
}

@media (max-width: 858px){
    .aboutusBG, .about_section1_left{
        display: none !important;
    }
    .about_section1_right {
        width: 95%;
        margin-top: 15vh;
        margin-bottom: 15vh;
        position: relative;
        border-radius: 10px;
    }
}
/* /////services///// */
.service_section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
    height: 90vh;
    width: 100%;
}
.service_section1_left{
    height: 95vh; 
    width: 59%;   
    margin-left: 10px;
}
.service_section1_right{
    height: 80vh; 
    width: 30%;   
    margin-right: 10px;
}
.service_section1_left_top{
    height: 45vh; 
    width: 100%;
    padding: 4px;
}
.service_section1_left_bottom{
    display: flex;
    justify-content: space-around;
    height: 45vh; 
    width: 100%;
    padding: 4px;
}
.msginlaundry{
    height: 290px;
    width: 450px;
    border-radius: 5px;
    margin: 20px;
}
.service_section1_right_top{
    height: 30vh; 
    width: 100%;
    padding: 4px;
}
.packagerate{
    background-color: #e0e0e0;
    width: 100%;
    height: 28vh;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.monthlyrate{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 40px;

}
.monthlyrate sup{
    padding-bottom: 25px;
    font-size: 20px;
}
.monthlyrate .rate{
    font-size: 40px;
    color: #fdab08;
    font-weight: bold;
}
.monthlyrate .sub{
    padding-top: 18px;
    font-size: 20px;
}
.num{
    margin-top: 15px;
    font-size: 40px;
    color: #fdab08;
    font-weight: bold;
}
.serviceitems{
    background-color: #e0e0e0;
    width: 100%;
    height: 55vh;
    border-radius: 5px;
    
}
.serviceitems h1{
    justify-self: center;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}
.item{
    width: 70%;
    background-color: #fdab08;
    align-items: center;
    justify-self: center;
    border-radius: 5px;
}
.serviceitems p{
    justify-self: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
    
}

@media (max-width: 858px){
    .aboutusBG, .service_section1_left_bottom{
        display: none !important;
    }
    .service_section1_left {
        width: 95%;
        height: 150vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border-radius: 10px;
        flex-wrap: wrap;
    }
    .service_section1_right {
        width: 95%;
        height: 90vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border-radius: 10px;
    }
    .service_section1_left_top {
        flex-wrap: wrap;
        height: 150vh;
    }
    .service_section1_right_top {
        height: 35vh;
    }
    .service_section1_right_bottom{
        height: 70vh;
    }
    .packagerate{
        height: 31vh;
        margin-bottom: 10vh;
    }
    .serviceitems{
        height: 65vh;
    }
}

/* /////////////contact us page////////// */
.contact_us_section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
    width: 100%;
}
.contact_us_section1_left{
    height: 60vh;
    width: 40%;
    margin-top: 5vh;
}
.contact_us_section1_right{
    height: 60vh;
    width: 40%;
    margin-top: 5vh;
}
.auTitle{
    display: flex;
    display: inline-block;
    background-color: #FFBF61;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.auTitle, p{
    margin: 1vh;
}
.map {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
}
.contact_us_left_bottom{
    width: 100%;
}
.addPhone{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5vh;
}
.add{
    display: flex;
    align-items: center;
    height: 7vh;
    width: 45%;
    margin: 1vh;
}
.email{
    display: flex;
    justify-content: space-around;
}
.locIcon{
    height: 45px;
    margin: 1vh;
}
.address{
    margin-top: 1.5vh;
}
.address h1{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(85, 84, 84);
}
.address p{
    font-size: 13px;
    margin: 1vh;
}
@media (max-width: 858px){
    .aboutusBG, .service_section1_left_bottom{
        display: none !important;
    }
    .contact_us_section1_left {
        width: 95%;
        height: 45vh;
        margin-top: 5vh;
        margin-bottom: 15vh;
        border-radius: 10px;
    }
    .contact_us_section1_right {
        width: 95%;
        margin-top: 10vh;
        border-radius: 10px;
    }
    .addPhone{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .add, p{
        /* width: 95%; */
    }
    .add p{
        width: 100%;
    }
}